.AboutMeSection {
  position: sticky;
  top: 0;
  left: 0;
  height: 100svh;
  display: grid;
  place-items: center;
  font-size: 2.8rem;
}

.container {
  width: 80%;
  border-radius: 1rem;
  background-image: linear-gradient(
    to bottom right,
    rgba(64, 64, 64, 0.8),
    rgba(54, 54, 54, 0.5)
  );
  box-shadow: rgba(83, 83, 83, 0.2) 0px 7px 29px 0px;
  display: grid;
  grid-template-columns: 50% 1fr 1fr;
  grid-template-rows: auto 1fr;
}

.headerContainer {
  padding: 2.5rem 2rem;
  grid-column: 1/-1;
  border-bottom: 0.2rem solid #4b4b4b;
}

.divToRotateManipulation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 80%;
  height: 80%;
  cursor: grab;
}
