.container {
  height: 100svh;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 2.8rem;
  gap: 4rem;
  flex-wrap: wrap;
  color: rgb(236, 236, 236);
}

.header {
  width: 100%;
  text-align: center;
  font-size: 5.2rem;
}

.box {
  color: black;
  background-image: linear-gradient(
    to right bottom,
    rgb(206, 206, 206),
    rgb(129, 129, 129)
  );
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 100rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem 2rem;
}
