.container {
  height: 100svh;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 2.8rem;
  gap: 4rem;
  flex-wrap: wrap;
  color: rgb(236, 236, 236);
}

.header {
  width: 100%;
  text-align: center;
  font-size: 5.2rem;
}

.box {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 100rem;
  border: 0.2rem solid black;
  padding: 1rem 2rem;
}
