.container {
  position: sticky;
  top: 0;
  left: 0;
  height: 100svh;
  display: grid;
  place-items: center;
  font-size: 2.8rem;
  color: rgb(236, 236, 236);
}

.header {
  text-align: center;
  font-size: 6.4rem;
}

.skillsContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
}

.skillsInnerContainer {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 2rem 4rem;
  border-radius: 5rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5rem;
}
