.container {
  position: sticky;
  top: 0;
  left: 0;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  &_avatar {
    width: 30%;

    border-radius: 50%;
    overflow: hidden;
    &_avatar {
      width: 100%;
      height: auto;
    }
  }
}

.text_Content {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 5rem;

  &_HeaderBox {
    &_Header {
      font-size: 6.4rem;
      text-align: center;
      width: max-content;
      text-transform: capitalize;
    }
  }

  &_introduction {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    &_text_content {
      padding: 0rem 0rem 0rem 2.5rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      font-size: 2.2rem;
      line-height: 1.4;
    }
  }
}

.navigationBox {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &_item {
    font-size: 4.2rem;
    cursor: pointer;
    background-image: linear-gradient(
      to right bottom,
      rgb(121, 14, 14),
      rgb(17, 17, 131)
    );
    border-radius: 100rem;
    padding: 0.3rem;

    & span {
      display: inline-block;
      border-radius: 100rem;
      background-color: #4b4b4b;
      padding: 0.8rem 5rem;
    }
  }
}
