.content {
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1fr auto;
  column-gap: 5rem;
  row-gap: 3rem;
  position: relative;
  z-index: 1;
}

.image {
  border: 1rem solid rgb(136, 136, 136);
  width: 100%;
  height: auto;
}

.desc {
  position: relative;
  grid-column: 1/-1;
  font-style: italic;
}

.programmer {
  position: absolute;
  opacity: 0.25;
  right: 2%;
  top: 0;
  z-index: -1;
  height: 100%;
  width: auto;
}
