.content {
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1fr auto;
  column-gap: 5rem;
  row-gap: 3rem;
}

.image {
  border: 1rem solid rgb(136, 136, 136);
  width: 100%;
  height: auto;
}

.desc {
  grid-column: 1/-1;
  font-style: italic;
}
