.skillBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;

  & svg {
    width: 8.4rem;
  }

  & p {
    font-size: 2.2rem;
    color: rgb(24, 24, 24);
  }
}
